@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'TitleFont';
    src: url("../fonts/Title.ttf") format("truetype");
}

@font-face {
    font-family: 'Ravenna';
    src: url("../fonts/Ravenna.ttf") format("truetype");
}

body {
    height: 100vh;
    scroll-behavior: smooth;
    height: 100%;
    z-index: 1;

    background: #000;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
	width: 100%;
	height: 100%;
    z-index: 9999999;
    background-image: url('../images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-credits {
    color: #dadada;
    margin: 40px auto 26px;
    pointer-events: none;
    user-select: none;
    text-align: center;
	transition: .3s;
}

.sidebar h3 {
	transition: .3s;
}

.sidebar.show-sidebar h3 {
	opacity: 0;
}

.sidebar.show-sidebar .sidebar__content .nav-credits {
	opacity: 0;
}

#content {
	display: table-cell;
    width: 100%;
    z-index: 10;
    margin-bottom: 200px;
	transition: .5s;
}

.blur {
    filter: blur(10px);
}

h3 {
    color: #fff;
}

.general{
    color: #fff;
    margin-left: 350px;
    margin-top: 50px;
    z-index: 10;
    margin-bottom: 200px;
	transition: .5s;
    overflow: initial; /* Verhindert horizontales Scrollen */
}

.title{
    align-content: center;
    font-size: 43px;
    font-weight: bold;
    margin-top: 40px;
	color: #9e2121;
	text-shadow: 2px 2px #751717;
	font-family: 'Poppins';
}

.text{
    align-content: center;
    font-size: 22px;
    width: 85%;
}

.line {
    padding-top: 30px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 90%;
}

.space {
    padding-top: 30px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    width: 90%;
}

.faq {
    margin-bottom: 20px;
    padding-bottom: 5px;
    max-width: 75%;
    font-size: 22px;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
  }
  
  .faq-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .faq-title h3 {
    margin: 0;
    padding-left: 25px;
    font-size: 23px;
    flex: 1;
	transition: .3s;
  }

  .faq-title:hover{
    opacity: 1;
    color: #a12020;
  }

  .faq-title h3:hover{
    opacity: 1;
    color: #a12020;
  }

  .faq.active h3{
    color: #a12020;
  }
  
  .faq-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: center;
    width: 12px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transition: transform 0.2s ease;
  }
  
  .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding-left: 25px;
    transition: max-height 0.2s ease, opacity 0.2s ease;
  }
  
  .faq-answer:hover {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding-left: 25px;
    transition: max-height 0.2s ease, opacity 0.2s ease;
  }
  
  .faq.active .faq-answer {
    opacity: 1;
    max-height: 800px;
  }

    .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
  
    .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .required-msg {
      display: block;
    }